<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- thymeleaf引入CSS样式 -->
<link th:href="@{/css/textExtract.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/css/elementui.css}" type="text/css" rel="stylesheet"/>
<link th:href="@{/css/common.css}" type="text/css" rel="stylesheet"/>

<body>
    <div id="textExtract">
        <el-upload
                class="upload-demo"
                action="https://jsonplaceholder.typicode.com/posts/"
                :on-preview="handlePreview"
                :on-remove="handleRemove"
                :before-remove="beforeRemove"
                multiple
                :limit="3"
                :on-exceed="handleExceed"
                :file-list="fileList">
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
    </div>
</body>

<!-- thymeleaf引入JS文件 -->
<script type="text/javascript" src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<script type="text/javascript" src="../../static/js/elementui.js" th:src="@{/js/elementui.js}"></script>
<script type="text/javascript" src="../../static/js/textExtract.js" th:src="@{/js/textExtract.js}"></script>
</html>